/* Header styles */
.header {
  padding: 2.5rem 8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}

.header>div {
  font-size: 1.3rem;
}

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}