/* Hero Section styles */
.hero {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 100px 20px;
  }
  
  .hero h1 {
    font-size: 3em;
  }
  
  .hero p {
    font-size: 1.5em;
    margin-top: 10px;
  }
  